
html,body,div,span,object,iframe,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{background:transparent;border:0;font-size:100%;margin:0;outline:0;padding:0;vertical-align:baseline}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{background:transparent;font-size:100%;margin:0;padding:0;vertical-align:baseline}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{border:0;border-top:1px solid #ccc;display:block;height:1px;margin:1em 0;padding:0}input,select{vertical-align:middle}



::selection {
	background: #000;
	color: #FFF;
}

::-moz-selection {
	background-color: #000;
	color: #FFF;
}

::-moz-focus-inner {
	margin: 0;
	border: 0;
	padding: 0;
}

a,a:visited {
	outline: none;
	text-decoration: none;
	color: #2e2e2e;
}

a:hover {
	outline: none;
	text-decoration: none;
	color: #666;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	border: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	font-family: 'Varela Round', sans-serif;
	line-height: 120%;
	font-weight: normal;
}

body {
	margin: 0;
	padding: 0;
	background-image: none;
	background-color: #FFF;
	-webkit-font-smoothing: antialiased;
	font-family: 'Varela Round', sans-serif;
	word-wrap: break-word;
	color: #2D2D2D;
}

.loading_screen {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgb(255, 255, 255) url('../img/loading_icon.gif') 50% 50%  no-repeat;
	opacity: 0;
	-webkit-transition: opacity 0.4s linear;
	-o-transition: opacity 0.4s linear;
	transition: opacity 0.4s linear;
}

.loading .loading_screen {
	opacity: 1;
}

.pg {
	min-width: 320px;
	opacity: 1;
	-webkit-transition: opacity 1.2s linear 0.4s;
	-o-transition: opacity 1.2s linear 0.4s;
	transition: opacity 1.2s linear 0.4s;
}

.loading .pg {
	opacity: 0;
}

.inner_wrapper {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 1000px;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding: 0;
}

.pg-top {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 100%;
	height: 769px;
	padding-left: 50%;
	overflow: hidden;
	background: rgb(13, 116, 145) url('../img/pg_top.jpg') 50% 0 no-repeat;
	background-size: cover;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: opacity 1.0s linear 0.4s, -webkit-transform 1.0s linear 0.4s;
	-o-transition: opacity 1.0s linear 0.4s, transform 1.0s linear 0.4s;
	transition: opacity 1.0s linear 0.4s, transform 1.0s linear 0.4s;
}

.loading .pg-top {
	opacity: 0;
	-webkit-transform: translate3d(0, -2000px, 0);
	-ms-transform: translate3d(0, -2000px, 0);
	transform: translate3d(0, -2000px, 0);
}

.top-txt {
	position: relative;
	float: left;
	width: 480px;
	z-index: 2;
	margin-left: 20px;
	margin-right: -500px;
	margin-top: 205px;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: opacity 1.0s linear 1.2s, -webkit-transform 1.0s linear 1.2s;
	-o-transition: opacity 1.0s linear 1.2s, transform 1.0s linear 1.2s;
	transition: opacity 1.0s linear 1.2s, transform 1.0s linear 1.2s;
}

.loading .top-txt {
	opacity: 0;
	-webkit-transform: translate3d(0, 2000px, 0);
	-ms-transform: translate3d(0, 2000px, 0);
	transform: translate3d(0, 2000px, 0);
}

.top-txt:after {
	content: '';
	display: table;
	clear: both;
	line-height: 0;
}

/*###.top-pic {
	float: left;
	width: 483px;
	height: 100%;
	z-index: 1;
	margin-left: -500px;
	margin-right: 17px;
	background: url('../img/iphone_hand.png') 50% 100% no-repeat;
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: opacity 1.0s linear 1.0s, -webkit-transform 1.0s linear 1.0s;
	-o-transition: opacity 1.0s linear 1.0s, transform 1.0s linear 1.0s;
	transition: opacity 1.0s linear 1.0s, transform 1.0s linear 1.0s;
}*/

/*###.loading .top-pic {
	opacity: 0;
	-webkit-transform: translate3d(0, 2000px, 0);
	-ms-transform: translate3d(0, 2000px, 0);
	transform: translate3d(0, 2000px, 0);
}*/

.top-txt h1 {
	margin: 0 0 65px 0;
	padding: 20px 0 27px 125px;
	background: url('../img/logo.png') 0 0 no-repeat;
	font-size: 44px;
	color: #FFF;
}

.top-txt h3 {
	margin: 0 0 29px 0;
	padding: 0;
	font-size: 36px;
	line-height: 136%;
	color: #FFF;
}

a.but-appsto/*###,
a.but-g-play*/ {
	display: inline-block;
	height: 71px;
	background: url('../img/store_buttons.png') 0 0 no-repeat;
	-webkit-transition: opacity 0.4s linear;
	-o-transition: opacity 0.4s linear;
	transition: opacity 0.4s linear;
}

a.but-appsto {
	width: 212px;
	margin-right: 19px;
}

/*###a.but-g-play {
	width: 245px;
	background-position: -213px 0;
}*/

/*###.top-txt a.but-g-play {
	margin-right: -20px;
}*/

a.but-appsto:hover/*###,
a.but-g-play:hover*/ {
	opacity: 0.67;
}



.sect-1 {
	float: left;
	width: 100%;
	height: 653px;
	padding-top: 87px;
	background: rgb(255, 255, 255) url('../img/sec_1.png') 50% 50% no-repeat;
}

.sect-1_top {
	width: 690px;
	margin: 0 auto 6px auto;
}

.sect-1 h2 {
	margin-bottom: 7px;
	text-align: center;
	font-size: 32px;
	color: rgb(233, 124, 15);
}

.sect-1 p {
	margin-bottom: 24px;
	text-align: center;
	font-size: 15px;
	line-height: 160%;
	color: #969696;
}

.sect-1 p:last-child {
	margin: 0;
}

/*###.sect-1_toys {
	width: 932px;
	height: 434px;
	margin: 0 auto;
	overflow: hidden;
}*/

/*###.sect-1_toy-1,
.sect-1_toy-2,
.sect-1_toy-3 {
	float: left;
	width: 284px;
	height: 434px;
	margin-top: 30px;
	background-position: top center;
	background-repeat: no-repeat;
	-webkit-transition: -webkit-transform 0.4s linear;/*###ease-in-out*/
	-o-transition: transform 0.4s linear;/*###ease-in-out*/
	transition: transform 0.4s linear;/*###ease-in-out*/
}*/

/*###.sect-1_toy-1 {
	background-image: url('../img/phone_1.png');
}*/

/*###.sect-1_toy-2 {
	width: 285px;
	margin-left: 39px;
	background-image: url('../img/phone_2.png');
}*/

/*###.sect-1_toy-3 {
	margin-left: 40px;
	background-image: url('../img/phone_3.png');
}*/

/*###.sect-1_toy-1:hover,
.sect-1_toy-2:hover,
.sect-1_toy-3:hover {
	-webkit-transform: translate3d(0, -30px, 0);
	-ms-transform: translate3d(0, -30px, 0);
	transform: translate3d(0, -30px, 0);
}*/



.sect-2 {
	float: left;
	width: 100%;
	padding-top: 77px;
	background: rgb(220, 243, 245) url('../img/sec_2.png') 50% 50% no-repeat;
}

.sect-2 h3 {
	margin-bottom: 9px;
	text-align: center;
	font-size: 32px;
	color: rgb(255, 255, 255);
}

ul.features {
	width: 760px;
	margin-left: auto;
	margin-right: auto;
	list-style: none;
}

ul.features li {
	float: left;
	width: 280px;
	margin: 45px 50px 56px 50px;
	text-align: center;
}

.features .ico-feat {
	width: 55px;
	height: 55px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	background: url('../img/ico_features.png') 0 0 no-repeat;
}

.ico-feat.puzzle {
	background-position: 0px 0px;
}

.ico-feat.offline {
	background-position: 0px -55px;
}

.ico-feat.map {
	background-position: 0px -110px;
}

.ico-feat.guide {
	background-position: 0px -165px;
}

.features p.feature_title {
	margin-bottom: 3px;
	font-size: 19px;
	line-height: 100%;
	color: rgb(255, 255, 255);
}

.features p {
	font-size: 15px;
	line-height: 160%;
	color: rgb(114, 199, 223);
}



.sect-3 {
	float: left;
	width: 100%;
	min-height: 195px;
	padding-top: 87px;
	padding-bottom: 180px;
	background: rgb(255, 255, 255) url('../img/sec_3.png') 50% 50% no-repeat;
}

.sect-3 .inner_wrapper {
	width: 740px;
}

.sect-3 h4 {
	margin-bottom: 6px;
	text-align: center;
	font-size: 32px;
	color: rgb(233, 124, 15);
}

.sect-3 p {
	text-align: center;
	line-height: 160%;
	color: rgb(153, 153, 153);
}



.sect-4 {
	float: left;
	width: 100%;
	height: 229px;
	padding-top: 96px;
	background: #2A1040 url('../img/pg_bottom.jpg') 50% 50% no-repeat;
	background-size: cover;
}

.sect-4 h4 {
	margin-bottom: 34px;
	text-align: center;
	font-size: 32px;
	color: #FFF;
}

.fin-call-2-act {
	text-align: center;
}



.pg-bot {
	float: left;
	width: 100%;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 20px;
	height: auto;
}

.pg-bot p {
	padding-bottom: 10px;
	font-size: 13px;
	color: #969696;
}

.bot-social {
	width: 110px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
}

.bot-social a {
	float: left;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	background-image: url('../img/team_social_icons.png');
	background-repeat: no-repeat;
	-webkit-transition: opacity 0.4s linear;
	-o-transition: opacity 0.4s linear;
	transition: opacity 0.4s linear;
}

.bot-social a.ico-tw {
	background-position:0px 0px;
}

.bot-social a.ico-fb {
	background-position:-62px 0px;
}

.bot-social a.ico-appsto {
	background-position: -93px 0px;
	margin-right: 0px;
}

.bot-social a:hover {
	opacity: 0.67;
}



@media screen and (max-width: 1020px) {
	.inner_wrapper {
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
	}

	.pg-top {
		height: auto;
		padding-left: 15%;
		padding-right: 15%;
		padding-bottom: 39.6%;
	}

	.top-txt {
		float: none;
		width: auto;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		text-align: center;
	}

	/*###.top-txt a.but-g-play {
		margin-right: 0px;
	}*/

	/*###.top-pic {
		float: none;
		position: absolute;
		left: 33.33%;
		bottom: 0;
		width: 27.33%;
		height: 51.5%;
		margin: 0;
		background-size: 100%;
	}*/

	.top-txt h1 {
		display: inline-block;
		margin-bottom: 25px;
	}

	/*###.sect-1_toys {
		width: 608px;
	}*/

	/*###.sect-1_toy-3 {
		display:none;
	}*/
}



@media screen and (max-width: 900px) {
	.sect-1_top {
		width: 80%;
		margin-bottom: 10px;
	}

	.sect-3 .inner_wrapper {
		width: 340px;
		margin-left: auto;
		margin-right: auto;
	}
}



@media screen and (max-width: 780px) {
	/*###.sect-1_toys {
		width: 100%;
	}*/

	/*###.sect-1_toy-1 {
		float: none;
		margin-left: auto;
		margin-right: auto;
	}*/

	/*###.sect-1_toy-2 {
		display:none;
	}*/

	.sect-2 h3 {
		padding-left: 40px;
		padding-right: 40px;
	}

	ul.features {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}

	ul.features li {
		clear: both;
		float: none;
		width: 280px;
		margin-left: auto;
		margin-right: auto;
	}
}



@media screen and (max-width: 720px) {
	.top-txt h1 {
		padding: 20px 0 22px 100px;
		font-size: 32px;
		background-size: 80px 80px;
	}

	.top-txt h3 {
		font-size: 27px;
	}

	.top-txt a.but-appsto {
		margin-bottom: 30px;
	}

	.top-txt a.but-appsto/*###,
	.top-txt a.but-g-play*/ {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}



@media screen and (max-width: 590px) {
	.sect-1 {
		height: auto;
	}

	.sect-1_top {
		width: 80%;
		margin-bottom: 30px;
	}

	.sect-1 h2,
	.sect-2 h3,
	.sect-3 h4,
	.sect-4 h4 {
		font-size: 27px;
	}
}



@media screen and (max-width: 550px) {
	.top-txt a.but-appsto {
		margin-bottom: 20px;
	}

	.sect-4 {
		height: auto;
		padding-bottom: 70px;
	}

	.sect-4 h4 {
		margin-bottom: 30px;
	}

	.fin-call-2-act {
		width: 245px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
	}

	.sect-4 a.but-appsto {
		margin-bottom: 30px;
	}

	.sect-4 a.but-appsto/*###,
	.sect-4 a.but-g-play*/ {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}



@media screen and (max-width: 490px) {
	.top-txt h1 {
		padding: 2px 0 1px 100px;
	}

	.top-txt h3 {
		margin-bottom: 14px;
	}
}